.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
  }
  
  .baloon {
  position: absolute;
  top: 350px;
  right: 770px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 400px;
    right: 800px;
    z-index: 1;
    
    
  }
  
  .bowser {
    width: 200px;
    position: absolute;
  }