* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  p, li {
    color: #475550;
    font-size: 16px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  .trybe-color {
    color: #11a36a;
  }
  
  .testimonial-names {
    font-size: 14px;
  }
  
  .hero-title {
    color: #0a7e51;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 30px;
  }
  
  .rounded-avatar {
    border-radius: 50%;
  }
  
  .button {
    color: #fff;
    background-color: #11a36a;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  
  .header {
    background-image: url("smiling-image.jpg");
    background-size: cover;
    padding: 60px 30px 40px 30px;
    background-position: 50% 25%;
  }
  
  .header-content {
    max-width: 60%;
    margin-left: 75px;
  }
  
  .header-text {
    max-width: 80%;
  }
  
  div.header-text p {
    margin-bottom: 30px;
  }
  
  .marketing {
    padding: 70px 30px;
    text-align: center;
  }
  
  .marketing p {
    margin-bottom: 30px;
  }
  
  .marketing-text {
    max-width: 60%;
    margin: auto;
  }
  
  .marketing h2 {
    margin-bottom: 30px;
  }
  
  .student-testimonial {
    padding: 30px 70px 90px 70px;
    width: 80%;
    margin: auto;
  }
  
  .student-container {
    width: 30%;
    text-align: center;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
  }