*{
    margin: 0;
    padding: 0;
}


h1{
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    z-index: 2;
    position: absolute;
    top: 70px;
    right: 30px;
    color:antiquewhite;
    font-weight: 200;
    font-style: italic;
    font-style: bold;


}

h2 {
    color: green;
    font-size: 40px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 300px;
    position:absolute;

}

#vantagens{
    position: absolute;
    top: 500px;
}

ul{
    position: absolute;
    top: 550px;
}

#descrição{
    position: absolute;
    top: 400px;
    max-width: 50%;
}

#casaterra{
    position: absolute;
    top: 650px;
    background-color: aquamarine;
    border-radius: 4px;
    padding: 15px 30px;
    margin-left: 20px;
    font-weight: 400;
    font-family: monospace;

}

.header{
    background-image: url("https://2.bp.blogspot.com/-EvUdR-OyVxk/V2gKfmS2eYI/AAAAAAAAGYY/OkjvD5WrEi0vDvqfGIddfJ53J2rPBNBFQCLcB/s1600/Caas%2Bem%2BTerra%2B2.jpg");
    background-size: cover;
    padding: 250px 300px 40px 30px;
    background-position: 50% 70%;
    z-index: 1;

}

.header-content{
    max-width: 60%;
    margin-left: 75px;
}

.técnicas-content{
    position: absolute;
    top: 700px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    margin: 1%;
}

.tabela{
    padding: 30px 70px 90px 30px;
    width: 70%;
    margin-left: 10%;
    
}

h3{
    font-style: bold;
    color: orange;
}