html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 420px){

    body{
      margin: 20px;
    }

    header{
        display: flex;
        text-align: center;
    }

    nav{
        display: none;
    }

    .aside-one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .aside-one li{
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }

    .aside-two{
       
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .aside-two ul{
        
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
        padding: 0;
        align-items: center;
        align-content: center;
    }

    .aside-two li{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
        align-items: center;
        align-self: stretch;
        text-align: center;
    }


    .aside-two h2{
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .title-c1{

        font-size: medium;
        text-align: center;
       
    }
  }

  @media screen and (max-width: 770px){

    body{
      margin: 20px;
    }

    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    nav ul{
        display: flex;
        padding: 0;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    nav li{
        margin-left: 10px;
        font-weight: bold;
        font-style: italic;
    }


    .aside-one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .aside-one li{
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }

    .aside-two{
       
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .aside-two ul{
        
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
        padding: 0;
        align-items: center;
        align-content: center;
    }

    .aside-two li{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
        align-items: center;
        align-self: stretch;
        text-align: center;
    }


    .aside-two h2{
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .title-c1{

        margin-top: 50px;
        font-size: large;
        text-align: center;
       
    }

    .main-content p{

        font-size: large;
        margin: 20px;
       
    }
  }

  @media screen and (min-width: 771px) and (max-width: 3000px){

    body{
      margin: 20px;
    }

    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    header h1{
        font-size: xxx-large;
    }

    nav ul{
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    nav li{
        margin-left: 10px;
        font-weight: bold;
        font-size: x-large;
        font-style: italic;
    }


    .aside-one{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .aside-one h2{
       font-size: xx-large;
    }

    .aside-one li{
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        font-size: x-large;
    }

    .aside-two{
       
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .aside-two h2{
        font-size: xx-large;
     }

    .aside-two ul{
        
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
        padding: 0;
        align-items: center;
        align-content: center;
    }

    .aside-two li{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
        align-items: center;
        align-self: stretch;
        text-align: center;
        font-size: x-large;
    }


    .aside-two h2{
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .title-c1{

        
        margin-top: 50px;
        font-size: xxx-large;
        text-align: center;
       
    }

    .main-content .text-c1{

        font-size: xx-large;
        margin: 20px;
        width: 1000px;
    }

    .main-content .text-c12{

        font-size: xx-large;
        margin: 20px;
        width: 1000px;
    }

    .main-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-between;
        
    
    }
  }
