body{
margin: 10px;
}

body p{
font-size: x-large;
}

h1 {
font-size: x-large;
}

h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 50px;
}

@media screen and (min-width: 800px){
body{
    background-color: blue;
    margin: 50px;
}

body p{
    font-size: xx-large;
}


main{
    display: flex;
    flex-direction: row;
}
figure{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-self: stretch;
}
}